/* Credit for Custom Font CSS */
@font-face {
    font-family: 'RuneScape UF';
    src: url('RuneScape-UF.eot');
    src: url('../fonts/RuneScape-UF.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RuneScape-UF.woff2') format('woff2'),
        url('../fonts/RuneScape-UF.woff') format('woff'),
        url('../fonts/RuneScape-UF.ttf') format('truetype'),
        url('../fonts/RuneScape-UF.svg#RuneScape-UF') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* End credit for Custom Font CSS */

/* Quiz */
.contentHidden {
    display: none;
}

.question-mark {
    font-size: 3rem;
}
.question-img {
    height: 6vh;
}

/* General rules and background image */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("../images/background.png");
    background-color: #605436;
    background-position: top;
    color: #ffff62;
    text-align: center;
    font-family: "RuneScape UF", sans-serif;
    overscroll-behavior: none;
    overflow: hidden;
}

/* Containers */
.container-main {
    padding: 10px;
    width: 90%;
    margin: 125px auto 0;
}

#container-quiz, #container-post-guess {
    min-height: 250px;
}

#container-footer {
    margin: auto;
    width: 95vw;
    padding: 5px;
    position: fixed;
    bottom: 1vh;
    left: 3vw;
}

.blankSpace {
    display: inline-block;
    height: 20vh;
}

/* Core Styling */
.rsStyle {
    color: #ffff62;
    background-color: #605436;
    border: 3px solid #ffff62;
    text-shadow: 2.5px 2.5px #1E000E;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 0.95rem;
}

/* Nav */
.navItem {
    color: #ffff62;
    font-size: 1.8rem;
    /* padding: 20px 40px; */
}

.navIcon {
    padding: 2vw;
    margin: 20px 0 0 10px;
}

a:hover {
    text-decoration: none;
}

/* Footer */
.footerIcon {
    font-size: 2rem;
    text-shadow: 2.5px 2.5px #1E000E;
    color: #ffff62;
    margin: 5px 10px 0;
}

.footerText {
    width: max-content;
    margin: auto;
    padding: 0 20px;
}

/* About Modal */
.aboutModalText {
    color: #ffff62;
    position: relative;
    margin: 20px 10px 0 0;
    padding: 5px 10px;
    font-size: 1.2rem;
}

.aboutModalContent {
    border-width: 5px;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    padding: 0 20px;
}

.aboutModalContent h2 {
    margin-top: 10px;
}

/* Suggest Modal */
.suggestModalContent {
    width: 80%;
    margin: auto;
}

.suggestModalHeader {
    border: 0px;
}

.suggestModalBody {
    padding: 0;
}

/* Buttons */
.buttonModal {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.buttonSuggest {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.buttonStart, .buttonRepeat, .buttonStuck {
    font-size: 2rem;
}

.buttonAnswer {
    margin: 1vw;
    width: 85%;
    font-size: 1.6rem;
}

.buttonNext {
    font-size: 1.4rem;
}

.buttonStuck {
    text-decoration: none;
    padding: 0 1%;
}

/* Suggestion form */
.form-group {
    margin-bottom: 5px;
    width: 200px;
}

/* 404 Page */
.messageStuck {
    width: max-content;
    margin: 10vh auto 0;
    padding: 0 4% 4%;
}

/* Error Message */
#messageError {
    padding-bottom: 1%;
}

/* Media Queries */
@media only screen and (max-width: 320px) {
    .modalIcon {
        display: none;
    }
    .footerIcon {
        font-size: 1.5rem;
    }
}
@media only screen and (max-height: 650px) {
    .container-main {
        margin-top: 0;
    }
}
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .aboutModalContent {
        width: 100%;
        height: 50%;
    }
}
@media only screen and (min-width: 768px) and (min-height: 768px) {
    h2, .navItem {
        font-size: 2.4rem;
    }
    h3 {
        font-size: 2rem;
    }
    p {
        font-size: 1.6rem;
    }
    .modal-content {
        width: 100%;
    }
    .button {
        font-size: 1.6rem;
    }
    .aboutModalText {
        font-size: 1.8rem;
    }
    .container-main {
        margin-top: 75px;
    }
    .buttonAnswer {
        font-size: 2rem;
    }
    .buttonNext {
        font-size: 2.6rem;
    }
    .form-group {
        width: 400px;
    }
    .form-group label {
        font-size: 2rem;
    }
    ::placeholder {
        font-size: 1.6rem;
    }
    .buttonModal, .buttonSuggest {
        font-size: 2rem;
    }
    #messageError {
        font-size: 2rem;
    }
}
@media screen and (min-width: 992px) and (orientation: landscape) {
    h2, .navItem {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.8rem;
    }
    .aboutModalText {
        font-size: 2rem;
        padding: 0.5vw 1vw;
    }
    .container-main {
        max-width: 75%;
    }
    .buttonAnswer {
        margin: 1vh 0;
    }
    .navIcon {
        padding: 1vw;
        font-size: 2.2rem;
    }
}